body {
    line-height: 1.6;
    font-family: 'Open Sans', system-ui, -apple-system, sans-serif;
    background-color: #FAF9F9;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    margin-top: 40px;
}

.site-nav {
    padding-bottom: 40px;
    border-bottom: 1px solid #555B6E;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    width: 496px;
    margin: 0 auto;
}


.nav-link {
    margin: 0;
    text-decoration: none;
    color: #828282;
}

.nav-link:hover {
    color: #4B3B40;
}

h1 {
    text-align: left;
    font-weight: 700;
    color:#555B6E;
    font-size: 48px;
}

.hero-photo {
    display: block;
}

.dark {
    background-color: #555B6E;
    padding: 52px;
}


h2 {
    margin: 0;
    padding-bottom: 40px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #555B6E;
}

p {
    margin: 0;
}

.dark h2 {
    color: #FAF9F9;
}

.about-text {
    text-align: center;
    color: #FAF9F9;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.light {
    padding: 52px;
}

.skills-list {
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
}

.skill-card {
    max-width: 170px;
    min-height: 230px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.icon-card {
    display: flex;
    flex-direction: column;
    gap: 28px;  
    align-items: center;
}

.icon-card img {
    width: auto;
    height: 80px;
}


.icon-card p {
    font-size: 14px;
    font-weight: 700;
    color: #828282;
}

.skill-rating {
    display: flex;
    gap: 8px;
    margin-top: auto;
    justify-content: center;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.portfolio-item img {
    width: 100%;
    display: block;
}

.portfolio-link {
    text-decoration: underline;
    color: #FAF9F9;
}

.footer .container {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
}

.button {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #555B6E;
    padding: 20px 32px;
    color: #FAF9F9;
    border-radius: 32px;
    text-decoration: none;
}


.button:hover,
.button:focus {
    background-color: #4B3B40;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 80px;
    margin: 0 auto;
    padding-left: 0;
}

.social-icon {
    width: 40px;
}

.footer p {
    color:#828282;
}